<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <%= f.text_field :contact_value ,:autocomplete => :off, :placeholder =>"Name"  %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Sex</label>
  <div class="controls">
    <%= f.collection_select  :sex  ,[['Female','Female'],['Male','Male']], :last, :last, {:include_blank => 'Select One'} %>

  </div>
</div>
<div class="control-group">
  <label class="control-label">Contact Type</label>
  <div class="controls">
    <%= f.collection_select  :contact_type  ,[['Named Insured','Named Insured'],['Spouse','Spouse'],['Child','Child'],['Sibling','Sibling'],['Parent','Parent'],['Relative','Relative'],['Owner','Owner'],['Parnter','Partner'],['Employee','Employee'],['Other','Other']], :last, :last, {:include_blank => 'Select One'} %>

  </div>
</div>
<div class="control-group">
  <label class="control-label">Birth Date</label>
  <div class="controls">
    <%= f.text_field :birth_date ,:autocomplete => :off, :placeholder =>"Birthday", :id=>"birthdate"  %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Occupation</label>
  <div class="controls">
    <%= f.text_field :occupation  ,:autocomplete => :off, :placeholder =>"Occupation" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Note</label>
  <div class="controls">
    <%= f.text_field :note  ,:autocomplete => :off, :placeholder =>"Note" %>
  </div>
</div>
<hr/>
<div class="control-group">
  <label class="control-label">Drivers License #</label>
  <div class="controls">
    <%= f.text_field :dlnum  ,:autocomplete => :off, :placeholder =>"Drivers License" %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">License State</label>
  <div class="controls">
    <%= f.collection_select :dlstate, State.order("abbreviation asc").all, :abbreviation, :abbreviation, {:include_blank => 'Select One'} %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">License Expiration Date</label>
  <div class="controls">
    <%= f.text_field :dlexp  ,:autocomplete => :off, :placeholder =>"Expiration Date", :id=>"dlexp" %>
  </div>
</div>
<hr/>
<div class="control-group">
  <label class="control-label">SSN #</label>
  <div class="controls">
    <%= f.text_field :ssn  ,:autocomplete => :off, :placeholder =>"SSN" %>
  </div>
</div>
<div class="form-actions">
  <%= f.submit 'Save', :remote => true,disable_with: 'Saving...', :class=>"btn btn-success ", :id=>"contactfrmbtn"%> <button class="btn " id="close_modal" onclick='return false;' >Cancel</button>


</div>