
<% content_for :head do %> <%= javascript_include_tag "newquote" %> <% end %>
<div class="col1wrap">
  <div class="col1 wellwhite" style="float: left;">
    <div class="wellwhitemenu"><span class="headtext">Create a New Quote</span> </div>
    <% if current_agent.isgeneralagent == "GA" %>
        <%= form_for [@submission, @quote],:html => {:autocomplete => "off", :class=>"form-horizontal"} do |f| %>
            <%= render :partial => 'quotefields', :locals=>{:f => f} %>
            <div class="form-actions">
              <%= f.submit 'Create', :remote => true, :class=>"btn btn-success", :id=>"createquotebtn"%> <%= link_to 'Cancel' ,submission_path(@submission),  :class=>'btn' %>
            </div>
        <% end %>
    <% else %>
        <%= form_for [@client, @quote],:html => {:autocomplete => "off", :class=>"form-horizontal"} do |f| %>
            <%= render :partial => 'quotefields', :locals=>{:f => f} %>
            <div class="form-actions">
              <%= f.submit 'Create', :remote => true, :class=>"btn btn-success", :id=>"createquotebtn"%> <% if @client.client_status == "Prospect"%> <%= link_to 'Cancel' ,showprospect_path(@client),  :class=>'btn' %> <% else %> <%= link_to 'Cancel' ,client_path(@client),  :class=>'btn' %> <%end%>
            </div>
        <% end %>
    <% end %>


  </div>
</div>