<%= javascript_include_tag "createcustomfield" %>
<hr/>
<%= form_for @customfield,:html => {:autocomplete => "off", :class=>"form-horizontal"}, :remote=>true do |f| %>

    <div class="control-group">
      <label class="control-label">Field Name</label>
      <div class="controls">
        <%= f.text_field :field_name, :class =>'required' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Field Type</label>
      <div class="controls">
        <%= f.collection_select  :field_type  ,[['Text/Number','Text/Number'],['Date','Date'] ], :last, :last, {:include_blank => 'Select One'}, { :class =>'required' }%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Associated With</label>
      <div class="controls">
        <% if current_agent.isgeneralagent == "Retail" %>
            <%= f.collection_select :associated_with  ,[['Client','Client'],['Policy','Policy'] ], :last, :last, {:include_blank => 'Select One'}, { :class =>'required' }%>
        <% else %>
            <%= f.collection_select :associated_with  ,[['Policy','Policy'],['Producing Agency', 'Producing Agency']], :last, :last, {:include_blank => 'Select One'}, { :class =>'required' }%>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Create', :class=>'btn btn-success' %> <button class="btn" id="customfieldcancel" onclick='return false;' >Cancel</button>
      </div>
    </div>
<% end %>

