<table class="table table-bordered table-striped" >

  <tr>
    <td>
      <b>Status:</b>
    </td>
    <td class="left" >
      <%= @producerforview.status %>
    </td>
    <td >
      <b>Address 1:</b>
    </td>
    <td class="left">
      <%= @producerforview.address_1 %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Address 2:</b>
    </td>
    <td class="left" >
      <%= @producerforview.address_2%>
    </td>
    <td >
      <b>City:</b>
    </td>
    <td class="left">
      <%= @producerforview.city %>
    </td>
  </tr>
  <tr>
    <td>


    </td>
    <td class="left" >


    </td>
    <td >
      <b>State:</b>

    </td>
    <td class="left">

      <%= @producerforview.state %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Telephone:</b>
    </td>
    <td class="left" >
      <%= @producerforview.telephone %>
    </td>
    <td >
      <b>Zip:</b>
    </td>
    <td class="left">
      <%= @producerforview.zip %>
    </td>
  </tr>


</table>