<%= javascript_include_tag "editreturnchecks" %>
<br/>
<div class="wellwhite">
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Warning!</strong> You are about to change the check number for this commission payment. Be sure you have correctly printed the replacement check before clicking ok.
  </div>
  <b>Check: </b>
  <%= @compaycheck.check_number%> <br/>
  <b>Check Amount:</b> <%= number_to_currency(@compaycheck.cash_amount) %><br/><br/>


  <%= form_for @compaycheck,:method=>:post, :url=>updatecompaycheck_url(@compaycheck), :html => {:autocomplete => "off", :class=>"form-horizontal"}, :remote=>true do |f| %>
      <%= f.label :check_number, "Enter New Check Number:" %>
      <%= f.text_field :check_number %>  <br/>  <br/>

      <div id="confirmprint">
        <p><b>Did the new check print successfully?</b></p>
        <%= f.submit "Yes", :class=>"btn btn-success" %> | <button class="btn btn-danger" id="notprinted" onclick='return false;'>No</button>

      </div>
  <%end%>
  <div id="printchecks">
    <%= link_to "Re-Print Single Check" , printsinglecompaycheck_path(:id=>@compaycheck.id)+".pdf",  :target =>"blank", :class=>"btn btn-success", :id=>"printcheck" %>
  </div>

</div>
