
<td>             <%= link_to('delete', cf, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class=>'linktext') %>
  | <%= link_to('edit', edit_customfieldvalue_path(cf) , :remote => true, :class=>'linktext') %>

  <span style="padding-left: 5px">
    <%begin%> <%= cf.customfield.field_name %>  <%rescue%> N/A <%end%> :
    <% if cf.customfield.field_type == 'Date' %>
        <%begin%> <%= cf.value_date.strftime("%m/%d/%Y") %> <%rescue%> N/A <%end%>
    <% else %>
        <%begin%> <%= cf.value %> <%rescue%> N/A <%end%>
    <% end %>
    </span>

</td>

