

<h1>Greetings#hello</h1>
<p>Everyone else is just waiting...</p>
<p><%= @message %></p>

<div> 

	<% if user_signed_in? %>    

		<%= current_user.email %> is logged in. If user is not you, click <%= link_to "Sign Out", destroy_user_session_path %>

	<% else %>    

		<%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>

	<% end %>

</div>