              <table class="table table-striped table-bordered" id="clientinfotable">
                <tbody>
                    <tr>
                      <td>
                       Name:
                      </td>
                      <td>
                        <%= @clientforview.client_name %>

                      </td>

                    </tr>
                    <tr>
                      <td>
                       Address 1:
                      </td>
                      <td >
                        <%= @clientforview.address_1 %>

                      </td>

                    </tr>
                    <tr>
                      <td>
                       Address 2:
                      </td>
                      <td >
                        <%= @clientforview.address2 %>

                     </td>

                    </tr>
                    <tr>
                      <td>
                       City:
                      </td>
                      <td >
                        <%= @clientforview.city %>

                      </td>

                    </tr>
                    <tr>
                      <td>
                       State:
                      </td>
                      <td>
                        <%= @clientforview.state %>

                      </td>
                    </tr>
                    <tr>
                      <td>
                       Zip:
                      </td>
                      <td>
                        <%= @clientforview.zip %>

                      </td>

                    </tr>
                </tbody>
              </table>