<div id="clientwrapper">
  <div class="row-fluid">
    <div class="span6" >
      <div class="wellwhiteblock">
        <div class="wellwhitemenu">
          <div style="float:left;">
            <h3>General Info</h3> | <%= link_to('Edit', edit_client_path(@clientforview) , :remote => true, :style=>"text-decoration: underline;") %></div>

          <div style="clear:both"></div>
        </div>


        <div id="clientinfowork">

        </div>
        <div id="clientinfo">
          <%= render 'showclientdetails' %>
        </div>

      </div>

    </div>
    <div class="span6" >

      <%= render 'tasks/showtasksforclient' %>
    </div>
  </div>
  <div id="policywrapper"><%= render 'showpolicies' %></div>
  <div id="acordwrapper"><%= render 'acordforminstances/showall' %></div>
  <div id="ccwrapper"><%= render 'clientcontacts/showallforclient', :clientcontacts =>@clientcontacts  %></div>
  <div id="cpewrapper"><%= render 'clientphoneemails/showallforclient', :cpe => @clientcpe  %></div>
  <div id="cawrapper"><%= render 'clientaddresses/showallforclient', :clientaddresses =>@clientaddresses  %></div>
  <div id="cfwrapper"><%= render 'customfieldvalues/showallforclient', :clientcontacts =>@clientcontacts  %></div>
</div>