<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h3>New Marketing Contact Request!</h3>
   <table>

     <tr>
        <td>Contact Name</td>
        <td><%= @name %></td>
     </tr>
          <tr>
        <td>Agency Name</td>
        <td><%= @agencyname %></td>
     </tr>
     <tr>
        <td>Phone</td>
        <td><%= @phone %></td>
     </tr>
          <tr>
        <td>e-Mail</td>
        <td><%= @email %></td>
     </tr>
          <tr>
        <td>Message</td>
        <td><%= @message %></td>
     </tr>

   </table>
  </body>
</html>