<div id="clientinfo">
  <table class="table table-bordered table-layout:fixed;">
    <col width="20%" />
    <col width="30%" />
    <col width="20%" />
    <col width="30%" />
    <thead>
    <tr>
      <th colspan="4"><h3>General Info:</h3></th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: right;">Prospect Name</td>
      <td><%=@prospectforview.prospect_name%></td>
      <td style="text-align: right;">Address 1</td>
      <td><%=@prospectforview.address_1%></td>
    </tr>
    <tr>
      <td style="text-align: right;">Home Phone</td>
      <td> <%=@prospectforview.home_phone%></td>
      <td style="text-align: right;"> Address 2</td>
      <td><%=@prospectforview.address_2%></td>
    </tr>
    <tr>
      <td style="text-align: right;"> Cell Phone</td>
      <td><%=@prospectforview.cell_phone%></td>
      <td style="text-align: right;"> City</td>
      <td><%=@prospectforview.city%></td>
    </tr>
    <tr>
      <td style="text-align: right;">Cell Phone 2</td>
      <td ><%=@prospectforview.cell_phone_2%></td>
      <td style="text-align: right;">State</td>
      <td><%=@prospectforview.state%></td>
    </tr>
    <tr>
      <td style="text-align: right;"><i class="icon-envelope"> </i> e-Mail </td>
      <td><%=@prospectforview.email%></td>
      <td style="text-align: right;">Zip</td>
      <td><%=@prospectforview.zip%></td>

    </tr>
    <tr>
      <td style="text-align: right;"> Customer Type </td>
      <td><%=@prospectforview.customer_type%></td>
      <td style="text-align: right;"></td>
      <td></td>
    </tr>
    </tbody>

    <thead>
    <tr>
      <th colspan="4"><h3>Mailing Address:</h3></th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="text-align: right;">Address 1</td>
      <td><%=@prospectforview.mailing_address_1%></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td style="text-align: right;">Address 2</td>
      <td><%=@prospectforview.mailing_address_2%></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td style="text-align: right;"> City </td>
      <td><%=@prospectforview.mailing_city%></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td style="text-align: right;">State</td>
      <td ><%=@prospectforview.mailing_state%></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td style="text-align: right;">Zip</td>
      <td><%=@prospectforview.mailing_zip%></td>

      <td colspan="2"></td>

    </tr>
    </tbody>
    <thead>
    <tr>
      <td colspan="4"><h3>Contacts:</h3></td>

    </tr>

    </thead>
    <tbody>
    <tr>
      <td style="text-align: right;">Contact 1</td>
      <td><%=@prospectforview.contactname_1%></td>

      <td colspan="2"></td>

    </tr>
    <tr>
      <td style="text-align: right;">Contact 2</td>
      <td><%=@prospectforview.contactname_2%></td>

      <td colspan="2"></td>

    </tr>
    <tr>
      <td style="text-align: right;">Contact 3</td>
      <td><%=@prospectforview.contactname_3%></td>

      <td colspan="2"></td>

    </tr>
    </tbody>
  </table >

</div>