<% content_for :head do %>  <%= javascript_include_tag "createfee" %> <% end %>

<%= form_for(@fee, :html => { :class => "form-horizontal"} ) do |f| %>


  <%= render :partial => 'formdetails', :locals=>{:f => f}%>


                  <div class="form-actions">

                      <%= f.submit 'Add Fee', :class=>'btn btn-success' %>   <%= link_to "Cancel", fees_path, :class=>"btn btn-inverse" %>

                  </div>





<% end %>
