<table class="table table-bordered table-layout:fixed;" style="width: 50%;">
  <col width="40%" />
  <col width="60%" />
  <tr>
    <td style="text-align: right;">Location Nickname</td>

    <td>
      <%= @locationforshow.location_nickname %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">Address 1</td>

    <td>
      <%= @locationforshow.address_1 %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;"> Address 2</td>
    <td>
      <%= @locationforshow.address_2 %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">City</td>
    <td>
    <%= @locationforshow.city %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">State</td>
    <td>
      <%= @locationforshow.state %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">Zip</td>
    <td>
      <%= @locationforshow.zip %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">Phone</td>
    <td>
      <%= @locationforshow.phone %>
    </td>
  </tr>
  <tr>
    <td style="text-align: right;">Fax</td>
    <td>
      <%= @locationforshow.fax  %>
    </td>
  </tr>
</table>
