<!DOCTYPE html>
<html lang="en">
<head>

  <%= stylesheet_link_tag "bootstrap" %>

  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "marketing" %>
  <%= javascript_include_tag "placeholder" %>
  <meta charset="utf-8">
  <title>Bindlink - do more</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">


  <style type="text/css">
      body {
          padding-top: 10px;
          padding-bottom: 0px;
      }
  </style>

</head>

<body>

<div class="container">
  <div class="row-fluid">
    <div class="span4"><img src="/assets/bindlinklogo.png"></div>
    <div class="span8" style="height: 69px;"><div style="float:right;"><%= render :partial =>'devise/sessions/newhome' %></div></div>
  </div>

</div>

<div class="row-fluid" style="background-color: #FFCC66; height: 350px; width: 100%; ">
  <div class="container">
    <div class="row-fluid" id="mktgtop">
      <div class="span12" id="topwrapper" style="background-color: orange; height: 350px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);" >
        <div class="span6">
          <div id="herowrapper" style="padding: 10px; padding-top: 15px; padding-left: 10px;">
            <h1 style=" font-weight: 300; font-weight: bold; color: #FFFFFF;">Expect more from your agency management system.</h1>
            <hr>
            <h3>Bindlink is a comprehensive agency management system for small to mid-size insurance agencies. We work hard to help you focus on competing for, attracting, and retaining clients - Not worrying about: documents, invoices, payables, renewal dates, and workflows.</h3>
            <div style="text-align: center; padding-top: 10px;">

            </div>
          </div>

        </div>
        <div class="span6">
          <div id="screenimg">
            <img src="/assets/screen.png" class="monitor" >

            <div class="blpages" id="blpage">
              <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item"><img src="/assets/blscreen1.png" class="contentimg"></div>
                  <div class="item"><img src="/assets/blscreen2.png" class="contentimg" ></div>
                  <div class="item"><img src="/assets/blscreen3.png" class="contentimg"></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="margin-top: 150px;">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next" style="margin-top: 150px;">&rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="row-fluid" style="background-color: #F5F5F5; height: 500px; width: 100%; margin-bottom: 0px; background: #EEE url(/assets/whitebkgrnd.png) center ">

  <div class="container">
    <div class="row-fluid">
      <div class="span12" style="background-color: #FFFFFF; height: 500px;  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);" >

        <div class="span6">
          <div class="wellwhiteblock">

            <div class="wellwhitemenu"><i class="icon-star"></i> We built bindlink around 3 basic principles.</div>
            <div class="row-fluid">
              <div style="display: block;">
                <h3 style="display: inline; font-family: 'CrimsonSemibold', 'Times New Roman', Georgia, serif; font-size: 28px;">1.</h3> <h4 style="display: inline; color: #ff4500; font-size: 18px;">Service not software.</h4>
                <hr style="margin: 5px;">
                <p style="margin-left: 25px;">An efficient management system is critical to an agency's success. Bindlink understands this and offers frequent updates and 24X7X365 telephone and chat support. Great service is everything to your agency and it is everything to bindlink.</p>
              </div>
            </div>
            <div class="row-fluid">
              <div style="display: block;">
                <h3 style="display: inline; font-family: 'CrimsonSemibold', 'Times New Roman', Georgia, serif; font-size: 28px;">2.</h3> <h4 style="display: inline; color: #ff4500; font-size: 18px;">Simplicity and Clarity.</h4>
                <hr style="margin: 5px;">
                <p style="margin-left: 25px;">Bindlink is easy to use. Whether you are a new CSR or a seasoned agent, bindlink is designed to help you get up and running in minutes, not days or weeks. There's no lengthy training period or complicated roll-out schedule, just setup and use. As always, if you do run into a question our expert support is always ready to help.</p>
              </div>
            </div>
            <div class="row-fluid">
              <div style="display: block;">
                <h3 style="display: inline; font-family: 'CrimsonSemibold', 'Times New Roman', Georgia, serif; font-size: 28px;">3.</h3> <h4 style="display: inline; color: #ff4500; font-size: 18px;">Relationships matter.</h4>
                <hr style="margin: 5px;">
                <p style="margin-left: 25px;">No setup fees, no contracts, your data is always yours. We cannot comprehend a model where customers are locked in to something they dont want. Nor to we believe that you should make a large upfront investment. Relationships matter to us, and we want to help your agency succeed for the long-run with bindlink.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="row-fluid" >



          </div>
          <div class="row-fluid" style="height: 100px;">
            <div class="wellwhiteblock" style="margin-left: 35px;" >

              <img src="/assets/cloud.png"><h2 style="display: inline; vertical-align: bottom;">Integrated</h2>
              <p>Everything you need to run your agency is all inside. Accounting, imaging, workflows, and customer relationship management.</p>
              <hr>
              <h2>Worry Free</h2>
              <p>You handle your clients, we'll take care of the servers. No need to worry about servers or upgrades. Bindlink is fully web-based and all upgrades are included.</p>
              <hr>
              <h2>Easy to Switch</h2>
              <p>Switching to Bindlink is simple. So simple that its free. Let us convert your data and save your agency time and money.</p>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<div class="row-fluid" style="background-color: black; height: 50px; width: 100%; margin-bottom: 0px; background: -moz-linear-gradient(top, #333, black); background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));background: -moz-linear-gradient(top, #333, black); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000');  ">
  <div class="container">
    <div class="row-fluid">
      <div class="span12" style="color: #FFFFFF; text-align: center;  ">
        © 2013 Bindlink / All rights reserved / Privacy Policy
      </div>
    </div>

  </div>

</div>
</body>
</html>