<div class="formheader">
  <b>New Client</b>
</div>
<div class="formcontainer">
<%= form_for @client,:url => create_client_policy_path  ,:remote => true, :class=>"form-horizontal" do |f| %>
  <table id="policyinput">
     <tr>
       <td><%= f.label :client_name,"Client Name" %></td>
       <td><%= f.text_field :client_name, :class=> "BLselect" %></td>
       <td><%= f.label :address_1, "Address 1"%></td>
       <td><%= f.text_field :address_1, :class=> "BLselect"%></td>
     </tr>
       <tr>
       <td><%= f.label :telephone%></td>
       <td><%= f.phone_field :telephone, :class=> "BLselect" %></td>
         <td> <%= f.label :address2,"Address 2" %></td>
       <td><%= f.text_field :address2, :class=> "BLselect" %></td>
     </tr>
    <tr>
      <td> <%= f.label :comments %>
        </td>
      <td><%= f.text_field :comments, :class=> "BLselect" %></td>
       <td> <%= f.label :city %></td>
      <td><%= f.text_field :city, :class=> "BLselect"   %></td>
    </tr>

       <td></td>
      <td></td>
      <td><%= f.label :state  %></td>
      <td><%= f.text_field :state, :class=> "BLselect" %></td>
    </tr>
       <td></td>
      <td></td>
      <td><%= f.label :zip %></td>
      <td><%= f.text_field :zip, :class=> "BLselect"  %></td>
    </tr>
  </table >


                    <div class="form-actions" style="text-align: right;">
                    <%= f.submit 'Create', :class=>'btn btn-success' %>
                    </div>
          </div>
</div>

<% end %>

</div>