<% content_for :head do %>  <%= javascript_include_tag "createpolicy" %> <% end %>
<div class="col1wrap">
  <div class="col1 wellwhite" style="float: left;  min-width: 700px">
    <div class="wellwhitemenu">Creating a new policy for: <% if current_agent.isgeneralagent == "GA" %><%= @quote.submission.namedinsured.named_insured %> <% else %> <%= @client.fullname %><% end  %></div>
    <div id="newpolicy">
      <%= form_for @policy,:html => {:autocomplete => "off", :class=>"form-horizontal"},:remote => true  do |f| %>
          <table class="table table-striped table-bordered" >
            <col width="30%" />
            <col width="70%" />
            <thead>
            <tr>
              <th style="text-align: right;">Producing Agency:</th>
              <th><%= collection_select :policy, :producingagency_id, @producingagencies,:id, :agency_name, {:include_blank => 'Select One'}, { :class =>'required' }%> </th>
            </tr>
            </thead>
          </table>

          <%= render :partial => 'policyfields', :locals=>{:f => f}%>
          <table id="policyinput">
            <%= f.fields_for :policypremiumtransactions do |builder| %>
                <%= render 'policypremiumtransactionsform', f: builder %>
            <% end %>
            <tr>
              <td colspan="5">
                <div class="form-actions" style="padding-left: 20px;">
                  <%= f.hidden_field :quote_id, :value=>@quote.id %>
                  <%= f.submit 'Create Policy', disable_with: 'Processing...' , :class=>'btn btn-success' %>   <%= link_to 'Cancel' ,policies_path,  :class=>'btn' %>
                </div>
              </td>
            </tr>
          </table>

      <% end %>





    </div>
    <div id="invoiceselectionnew"></div>


  </div>
</div>